openapi: 3.0.3
info:
  title: XMiete Core API
  description: Open-source standard for digital rental deposits (BGB § 551 compliant).
  version: 1.0.0
  contact:
    name: XMiete Open Source
    url: https://xmiete.org
  license:
    name: Creative Commons Attribution 4.0 International
    url: https://creativecommons.org/licenses/by/4.0/
servers:
  - url: https://api.xmiete.org/v1
    description: Production API
paths:
  /deposits:
    post:
      summary: Create a new deposit request
      operationId: createDeposit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './xmiete_schema.json'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: './xmiete_schema.json'
  /deposits/{id}:
    get:
      summary: Get deposit details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './xmiete_schema.json'
  /deposits/{id}/identity:
    patch:
      summary: Update identity verification status
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [eid_status]
              properties:
                eid_status:
                  type: string
                  enum: [VERIFIED, FAILED]
                verification_timestamp:
                  type: string
                  format: date-time
                provider_reference:
                  type: string
                wallet_metadata:
                  $ref: '#/components/schemas/WalletMetadata'
      responses:
        '200':
          description: Updated
  /deposits/{id}/pledge:
    post:
      summary: Confirm legal pledge
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [pledge_date, is_confirmed_by_bank]
              properties:
                pledge_date:
                  type: string
                  format: date
                is_confirmed_by_bank:
                  type: boolean
      responses:
        '200':
          description: Pledged
  /deposits/{id}/release:
    post:
      summary: Authorize deposit release
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Released
  /deposits/{id}/claim:
    post:
      summary: Initiate claim
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [claim_amount, reason]
              properties:
                claim_amount:
                  type: number
                reason:
                  type: string
      responses:
        '200':
          description: Claimed

  # ── Settlement Flow ───────────────────────────────────────────────────────────

  /deposits/{id}/settle:
    post:
      summary: Propose or counter-propose a settlement
      description: |
        Either party (LANDLORD or TENANT) submits an itemized split of the deposit.
        From PLEDGED or FUNDED → SETTLE_PROPOSED (first proposal).
        From SETTLE_PROPOSED → updates the settlement in place (counter-proposal); the other party must differ from `last_proposed_by`.
        A 14-day response window is set automatically (mirroring UK DPS and Australian RTA practice).
        Deduction categories follow the international standard (UK TDS six heads of claim, Australian RTBA, Swiss OR Art. 267).
        Note: COSMETIC_REPAIRS (Schönheitsreparaturen) are frequently unenforceable under BGH case law — validate the lease clause.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [initiated_by, claim_items, proposed_tenant_refund, proposed_landlord_retention]
              properties:
                initiated_by:
                  type: string
                  enum: [LANDLORD, TENANT]
                tenancy_end_date:
                  type: string
                  format: date
                handover_date:
                  type: string
                  format: date
                handover_protocol_ref:
                  type: string
                  description: Reference to the signed handover protocol (Übergabeprotokoll / check-out report).
                claim_items:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [category, description, amount_claimed]
                    properties:
                      category:
                        type: string
                        enum: [RENT_ARREARS, UTILITY_ARREARS, DAMAGE, CLEANING, COSMETIC_REPAIRS, UNAUTHORIZED_ALTERATIONS, MISSING_ITEMS, OTHER]
                      description:
                        type: string
                      amount_claimed:
                        type: number
                        exclusiveMinimum: 0
                      evidence_refs:
                        type: array
                        items:
                          type: string
                        description: URLs or document IDs — photos, invoices, contractor quotes, rent ledger.
                      room_or_area:
                        type: string
                proposed_tenant_refund:
                  type: number
                  minimum: 0
                proposed_landlord_retention:
                  type: number
                  minimum: 0
      responses:
        '200':
          description: Settlement proposed or updated

  /deposits/{id}/settle/accept:
    post:
      summary: Accept the current settlement proposal
      description: |
        The non-proposing party accepts the current proposal → CLOSED.
        `accepted_by` must differ from `last_proposed_by` — you cannot accept your own proposal.
        The agreed amounts are locked from the current proposal.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accepted_by]
              properties:
                accepted_by:
                  type: string
                  enum: [LANDLORD, TENANT]
      responses:
        '200':
          description: Settlement accepted, deposit CLOSED

  /deposits/{id}/dispute:
    post:
      summary: Escalate to external dispute resolution
      description: |
        Either party escalates an unresolved settlement to an external authority → DISPUTED.
        Escalation types map to German/European mechanisms:
        - PLATFORM_MEDIATION: in-platform mediation tier
        - SCHLICHTUNGSBEHOERDE: cantonal/regional mediation authority (CH) or Verbraucherschlichtung (DE)
        - AMTSGERICHT: civil court (Amtsgericht) for monetary claims up to €5,000; Landgericht above
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [escalated_by, escalation_type]
              properties:
                escalated_by:
                  type: string
                  enum: [LANDLORD, TENANT]
                escalation_type:
                  type: string
                  enum: [PLATFORM_MEDIATION, SCHLICHTUNGSBEHOERDE, AMTSGERICHT]
                external_reference:
                  type: string
                  description: Court or authority case number, if already assigned.
                statement:
                  type: string
      responses:
        '200':
          description: Deposit escalated to DISPUTED

  /deposits/{id}/dispute/resolve:
    post:
      summary: Record outcome of external dispute resolution
      description: |
        Records the binding split produced by the external authority → CLOSED.
        The `resolution_reference` should carry the court judgment number or mediation outcome ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agreed_tenant_refund, agreed_landlord_retention]
              properties:
                agreed_tenant_refund:
                  type: number
                  minimum: 0
                agreed_landlord_retention:
                  type: number
                  minimum: 0
                resolution_reference:
                  type: string
      responses:
        '200':
          description: Dispute resolved, deposit CLOSED

  # ── QEAA Issuance Flow ────────────────────────────────────────────────────────

  /deposits/{id}/issue-credential:
    post:
      summary: Trigger QEAA credential issuance (bank → tenant wallet)
      description: |
        Called by the bank after a deposit is PLEDGED. Creates an OID4VCI Pre-Authorized Code
        issuance session and returns a `credential_offer_url` that the tenant scans with their
        EUDI Wallet. The wallet then follows the Pre-Authorized Code Flow to obtain the
        **DepositPledgeAttestation** QEAA.

        Requires the deposit to be in `PLEDGED` state.
      operationId: issueCredential
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueCredentialRequest'
      responses:
        '201':
          description: Issuance session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCredentialResponse'
        '409':
          description: Deposit is not in PLEDGED state

  /credential-offers/{sessionId}:
    get:
      summary: Fetch credential offer (OID4VCI)
      description: |
        Called by the EUDI Wallet to retrieve the `CredentialOffer` object. This URL is
        embedded in the `credential_offer_uri` query parameter of the deep-link.
      operationId: getCredentialOffer
      security: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: CredentialOffer object per OID4VCI spec
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialOffer'
        '410':
          description: Offer has expired

  /token:
    post:
      summary: Token endpoint — pre-authorized_code grant (OID4VCI)
      description: |
        EUDI Wallet exchanges the `pre-authorized_code` for a short-lived Bearer access token
        and a `c_nonce` for proof-of-possession.
      operationId: tokenEndpoint
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type, pre-authorized_code]
              properties:
                grant_type:
                  type: string
                  enum: ['urn:ietf:params:oauth:grant-type:pre-authorized_code']
                pre-authorized_code:
                  type: string
      responses:
        '200':
          description: Access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Invalid or expired pre-authorized_code

  /credential:
    post:
      summary: Credential endpoint — issue DepositPledgeAttestation SD-JWT (OID4VCI)
      description: |
        Wallet presents its access token and (optionally) a proof-of-possession JWT.
        Server returns the signed **DepositPledgeAttestation** SD-JWT credential.
      operationId: credentialEndpoint
      security:
        - CredentialBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialRequest'
      responses:
        '200':
          description: Signed SD-JWT credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResponse'
        '401':
          description: Invalid or expired access token

  /credentials/{credentialId}/status:
    get:
      summary: Credential status / revocation check
      description: |
        Public endpoint — verifiers poll this to confirm whether a DepositPledgeAttestation
        credential is still active or has been revoked (e.g., because the deposit was
        released or the tenancy ended).
      operationId: credentialStatus
      security: []
      parameters:
        - name: credentialId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Credential status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialStatusResponse'
        '404':
          description: Credential not found

  /.well-known/openid-credential-issuer:
    get:
      summary: OID4VCI issuer metadata (wallet discovery)
      description: |
        Returns the issuer metadata document per OpenID4VCI § 11.2.
        EUDI Wallets fetch this to learn supported credential types, formats, and endpoints.
      operationId: issuerMetadata
      security: []
      responses:
        '200':
          description: Issuer metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuerMetadata'

  /.well-known/jwks.json:
    get:
      summary: JSON Web Key Set — issuer signing keys
      description: Public keys for verifying DepositPledgeAttestation SD-JWT signatures.
      operationId: jwks
      security: []
      responses:
        '200':
          description: JWKS document

components:
  schemas:
    EBICSBTF:
      type: object
      description: EBICS 3.0 Business Transaction Format — replaces order types from EBICS 2.x.
      required: [service_name, msg_name]
      properties:
        service_name:
          type: string
          description: "BTF service name (e.g., 'MCT' for SEPA Credit Transfer, 'STM' for statement/camt)."
        service_option:
          type: string
          description: Optional BTF service option qualifier (bank-specific).
        scope:
          type: string
          description: "BTF scope / country or region code (e.g., 'DE', 'EU')."
        container:
          type: string
          enum: [XML, ZIP, ZIP.b64]
          description: BTF container format.
        msg_name:
          type: string
          description: "ISO 20022 message name (e.g., 'pain.001', 'camt.054')."
        msg_version:
          type: string
          description: "ISO 20022 message version suffix (e.g., '03', '08')."

    EBICSMetadata:
      type: object
      description: EBICS connection parameters. Required when transport.protocol is EBICS.
      required: [host_id, partner_id, user_id, ebics_version, bank_url]
      properties:
        host_id:
          type: string
          description: "EBICS Host ID configured at the bank (e.g., 'AAREAL01')."
        partner_id:
          type: string
          description: EBICS Partner ID (Kundennummer assigned by the bank to the XMiete system operator).
        user_id:
          type: string
          description: EBICS User ID (technical user for the XMiete system).
        ebics_version:
          type: string
          enum: ['2.4', '2.5', '3.0']
          description: "EBICS protocol version. Use 3.0 for BTF-based order routing; 2.4/2.5 for legacy order types."
        bank_url:
          type: string
          format: uri
          description: HTTPS URL of the bank's EBICS server endpoint.
        order_type:
          type: string
          description: "EBICS 2.x three-letter order type (e.g., 'CCT', 'C54'). Omit when using EBICS 3.0 BTF."
        btf:
          $ref: '#/components/schemas/EBICSBTF'
        signature_class:
          type: string
          enum: [T, E, A]
          description: "EBICS signature class: T (transport only), E (electronic/single), A (authorization/collective)."
        bank_bic:
          type: string
          pattern: '^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$'
          description: BIC of the bank (ISO 9362).

    Transport:
      type: object
      description: Transport protocol configuration for bank-system communication.
      required: [protocol]
      properties:
        protocol:
          type: string
          enum: [REST, EBICS]
          default: REST
          description: Transport protocol used to exchange XMiete messages with the bank system.
        ebics_metadata:
          $ref: '#/components/schemas/EBICSMetadata'

    WalletMetadata:
      type: object
      description: eIDAS 2.0 / EUDI-Wallet credential metadata for tenant identity verification.
      properties:
        issuer:
          type: string
          description: Human-readable name of the credential issuer.
        issuer_id:
          type: string
          description: URI or DID identifying the credential issuer.
        wallet_provider:
          type: string
          description: Identifier of the EUDI Wallet provider app.
        credential_type:
          type: string
          enum: [PID, EAA, QEAA, MDL]
          description: EUDI credential type.
        credential_format:
          type: string
          enum: [vc+sd-jwt, mso_mdoc, ldp_vc]
          description: Credential encoding format per OpenID4VCI / EUDI ARF.
        assurance_level:
          type: string
          enum: [low, substantial, high]
          description: eIDAS Level of Assurance per Article 8.
        presentation_id:
          type: string
          description: Opaque reference to the Verifiable Presentation.
        issuing_country:
          type: string
          pattern: '^[A-Z]{2}$'
          description: ISO 3166-1 alpha-2 country code of the credential issuer.
        verified_at:
          type: string
          format: date-time
          description: Timestamp when the EUDI Wallet presentation was verified.
        expires_at:
          type: string
          format: date-time
          description: Expiry timestamp of the wallet credential.
    # ── QEAA Issuance schemas ──────────────────────────────────────────────────

    IssueCredentialRequest:
      type: object
      properties:
        valid_until:
          type: string
          format: date
          description: ISO 8601 date until which the pledge is in effect (drives credential expiry and pledged_until claim).

    IssueCredentialResponse:
      type: object
      required: [session_id, credential_offer_url, qr_code_payload, expires_at]
      properties:
        session_id:
          type: string
          description: Opaque issuance session identifier.
        credential_offer_url:
          type: string
          description: "openid-credential-offer:// deep-link for the tenant's wallet (same as qr_code_payload)."
        qr_code_payload:
          type: string
          description: String to encode in a QR code shown to the tenant.
        expires_at:
          type: string
          format: date-time
          description: Time after which the offer expires (15 minutes from creation).

    CredentialOffer:
      type: object
      required: [credential_issuer, credential_configuration_ids, grants]
      properties:
        credential_issuer:
          type: string
          description: Base URL of the credential issuer.
        credential_configuration_ids:
          type: array
          items:
            type: string
          example: ['DepositPledgeAttestation']
        grants:
          type: object
          properties:
            'urn:ietf:params:oauth:grant-type:pre-authorized_code':
              type: object
              properties:
                pre-authorized_code:
                  type: string

    TokenResponse:
      type: object
      required: [access_token, token_type, expires_in]
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          example: 300
        c_nonce:
          type: string
          description: Nonce for proof-of-possession JWT (used in credential request).
        c_nonce_expires_in:
          type: integer
          example: 300

    CredentialRequest:
      type: object
      required: [format, vct]
      properties:
        format:
          type: string
          enum: ['vc+sd-jwt']
        vct:
          type: string
          enum: ['DepositPledgeAttestation']
        proof:
          type: object
          properties:
            proof_type:
              type: string
              enum: ['jwt']
            jwt:
              type: string
              description: Proof-of-possession JWT signed by the wallet's key binding key.

    CredentialResponse:
      type: object
      required: [credential]
      properties:
        credential:
          type: string
          description: |
            Signed DepositPledgeAttestation SD-JWT.
            Format: <header>.<payload>.<signature>~<disclosure_1>~...~<disclosure_n>~
            Selectively disclosed: deposit_amount, currency, property_address,
            tenant_first_name, tenant_last_name, pledged_until.
            Always revealed: deposit_id, pledge_date, statutory_basis, issuing_bank.
          example: "eyJ....~WyJzYWx0IiwiZGVwb3NpdF9hbW91bnQiLDMwMDBd~..."

    CredentialStatusResponse:
      type: object
      required: [credential_id, status, checked_at]
      properties:
        credential_id:
          type: string
        status:
          type: string
          enum: ['active', 'revoked', 'unknown']
          description: active = pledge still in force; revoked = deposit released or closed.
        checked_at:
          type: string
          format: date-time

    IssuerMetadata:
      type: object
      description: OID4VCI issuer metadata per OpenID4VCI § 11.2.
      properties:
        credential_issuer:
          type: string
        credential_endpoint:
          type: string
        token_endpoint:
          type: string
        jwks_uri:
          type: string
        credential_configurations_supported:
          type: object
          description: Map of credential configuration ID to configuration object.

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT signed with JWT_SECRET — used for deposit lifecycle endpoints.
    CredentialBearerAuth:
      type: http
      scheme: bearer
      description: Short-lived access token issued by POST /v1/token — used for POST /v1/credential.

security:
  - BearerAuth: []
