openapi: 3.0.3
info:
  title: XMiete Core API
  description: Open-source standard for digital rental deposits (BGB § 551 compliant).
  version: 1.0.0
  contact:
    name: XMiete Open Source
    url: https://xmiete.org
servers:
  - url: https://api.xmiete.org/v1
    description: Production API
paths:
  /deposits:
    post:
      summary: Create a new deposit request
      operationId: createDeposit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './xmiete_schema.json'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: './xmiete_schema.json'
  /deposits/{id}:
    get:
      summary: Get deposit details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './xmiete_schema.json'
  /deposits/{id}/identity:
    patch:
      summary: Update identity verification status
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [eid_status]
              properties:
                eid_status:
                  type: string
                  enum: [VERIFIED, FAILED]
                verification_timestamp:
                  type: string
                  format: date-time
                provider_reference:
                  type: string
                wallet_metadata:
                  $ref: '#/components/schemas/WalletMetadata'
      responses:
        '200':
          description: Updated
  /deposits/{id}/pledge:
    post:
      summary: Confirm legal pledge
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [pledge_date, is_confirmed_by_bank]
              properties:
                pledge_date:
                  type: string
                  format: date
                is_confirmed_by_bank:
                  type: boolean
      responses:
        '200':
          description: Pledged
  /deposits/{id}/release:
    post:
      summary: Authorize deposit release
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Released
  /deposits/{id}/claim:
    post:
      summary: Initiate claim
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [claim_amount, reason]
              properties:
                claim_amount:
                  type: number
                reason:
                  type: string
      responses:
        '200':
          description: Claimed
components:
  schemas:
    WalletMetadata:
      type: object
      description: eIDAS 2.0 / EUDI-Wallet credential metadata for tenant identity verification.
      properties:
        issuer:
          type: string
          description: Human-readable name of the credential issuer.
        issuer_id:
          type: string
          description: URI or DID identifying the credential issuer.
        wallet_provider:
          type: string
          description: Identifier of the EUDI Wallet provider app.
        credential_type:
          type: string
          enum: [PID, EAA, QEAA, MDL]
          description: EUDI credential type.
        credential_format:
          type: string
          enum: [vc+sd-jwt, mso_mdoc, ldp_vc]
          description: Credential encoding format per OpenID4VCI / EUDI ARF.
        assurance_level:
          type: string
          enum: [low, substantial, high]
          description: eIDAS Level of Assurance per Article 8.
        presentation_id:
          type: string
          description: Opaque reference to the Verifiable Presentation.
        issuing_country:
          type: string
          pattern: '^[A-Z]{2}$'
          description: ISO 3166-1 alpha-2 country code of the credential issuer.
        verified_at:
          type: string
          format: date-time
          description: Timestamp when the EUDI Wallet presentation was verified.
        expires_at:
          type: string
          format: date-time
          description: Expiry timestamp of the wallet credential.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - BearerAuth: []
